.App {
  position: relative;
  width: 100%;
  font-family: 'BeausiteClassic';
}

.container {
  width: 1080px;
  padding-top: 140px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* navigation */

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.02);
}

.nav-inner {
  width: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: normal;
}

.nav-items a {
  color: #7D878F;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/* instructions */

.instructions {
  width: 100%;
  padding: 40px;
  border: 1px solid #7D878F;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.instructions .title {
  margin-right: auto;
  font-size: 32px;
  font-weight: bold;
  color: #7D878F;
  margin-bottom: 20px;
}

.instructions .intro-text {
  padding: 24px;
  margin-bottom: 40px;
  background-color: #7D878F;
  box-shadow: 0px 16px 80px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.instructions .intro-text ul {
  width: 90%;
}

.instructions .sections {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.instructions .section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.instructions li {
  margin-bottom: 12px;
}

.api-link {
  font-weight: bold;
  text-decoration: underline;
}

.good-luck {
  margin: auto;
  font-weight: bold;
  font-size: 20px;
}

/* fonts */

@font-face {
  font-family: 'BeausiteClassic';
  src: url('./assets/fonts/BeausiteClassicWeb-Regular.woff2') format('woff2'),
  url('./assets/fonts/BeausiteClassicWeb-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BeausiteClassic';
  src: url('./assets/fonts/BeausiteClassicWeb-Bold.woff2') format('woff2'),
  url('./assets/fonts/BeausiteClassicWeb-Bold.woff') format('woff'); 
  font-weight: 700;
  font-style: normal;
} 
@font-face {
  font-family: 'BeausiteClassic';
  src: url('./assets/fonts/BeausiteClassicWeb-RegularItalic.woff2') format('woff2'),
  url('./assets/fonts/BeausiteClassicWeb-RegularItalic.woff') format('woff'); 
  font-weight: normal;
  font-style: italic;
}