/* instructions */

.instructions {
    margin-top: 60px;
    width: 100%;
    padding: 40px;
    border: 1px solid #7D878F;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .instructions .title {
    margin-right: auto;
    font-size: 32px;
    font-weight: bold;
    color: #7D878F;
    margin-bottom: 20px;
  }
  
  .instructions .intro-text {
    padding: 24px;
    margin-bottom: 40px;
    background-color: #7D878F;
    box-shadow: 0px 16px 80px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    color: white;
    font-size: 18px;
  }
  
  .instructions .intro-text ul {
    width: 90%;
  }
  
  .instructions .sections {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .instructions .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .instructions li {
    margin-bottom: 12px;
  }
  
  .api-link {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .good-luck {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
  }