body {
  background-color: #fcfcfc !important;
}

.App {
  position: relative;
  width: 100%;
  font-family: "BeausiteClassic";
}

.container {
  width: 1080px;
  padding-top: 80px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* fonts */

@font-face {
  font-family: "BeausiteClassic";
  src: url("./assets/fonts/BeausiteClassicWeb-Regular.woff2") format("woff2"),
    url("./assets/fonts/BeausiteClassicWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BeausiteClassic";
  src: url("./assets/fonts/BeausiteClassicWeb-Bold.woff2") format("woff2"),
    url("./assets/fonts/BeausiteClassicWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeausiteClassic";
  src: url("./assets/fonts/BeausiteClassicWeb-RegularItalic.woff2")
      format("woff2"),
    url("./assets/fonts/BeausiteClassicWeb-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.card {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  padding: 2rem;
}

.searchbox {
  margin-right: 10px;
}
.btn-color {
  background-color: #3395ff !important;
}
.contact-search {
  border-radius: 100px !important;
}

.dialogModal {
  text-align: center !important;
}

.text-input {
  display: flex;
  justify-content: space-between;
}

.text-input2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
}

.create-btn {
  display: flex;
  margin-left: 82% !important;
  margin-top: 25px !important;
}

/* @media all and (max-width: 500px) {

} */

.textcard {
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center !important;
}